/*============================*/
/*      VARIÁVEIS GLOBAIS     */
/*============================*/
:root {

  /* =========================
     CORES
  ========================= */
  --color-bg: #06141B;
  --color-surface: #11212D;
  --color-surface-2: #253745;
  --color-muted: #4A5C6A;

  --color-text-muted: #9BA8AB;
  --color-text: #CCD0CF;
  --color-white: #FFFFFF;


  /* =========================
     BORDAS
  ========================= */
  --border-subtle: rgba(255, 255, 255, 0.06);
  --border-light: rgba(255, 255, 255, 0.10);

  /* =========================
     SOMBRAS
  ========================= */
  --shadow-sm: 0 4px 15px rgba(0, 0, 0, 0.15);
  --shadow-md: 0 12px 35px rgba(0, 0, 0, 0.25);
  --shadow-lg: 0 25px 70px rgba(0, 0, 0, 0.35);

  /* =========================
     BORDER RADIUS
  ========================= */
  --radius-sm: 10px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;

  /* =========================
     TRANSIÇÕES
  ========================= */
  --transition-fast: .2s ease;
  --transition-normal: .35s ease;
  --transition-slow: .6s ease;
}

/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family:
    "Manrope",
    Arial,
    Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

button,
input {
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

/* SweetAlert */
.swal2-container {
  z-index: 999999 !important;
}